:root {
    --black: #000;
    --white: #fff;
    --background-grey-line: #c9c9c9;
    --title-section-color: #c7c7c6;
    --gray-border: #C7C7C6;
    --border-radius: 8px;
    --box-shadow-btn: 0px 1px 4px 1px #8b8b8b;
    --card-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    --background-setting: #f3f3f3;
    --background-input: #d9d9d9;
    --tomato-color: #FE2C55;
    --green-success: #34A853;
}

.fs-10 {
    font-size: 10px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-24 {
    font-size: 24px !important;
}
.fs-26 {
    font-size: 26px !important;
}
.fs-28 {
    font-size: 28px !important;
}
